html {
  font-family: sans-serif;
  line-height: 1.37;
  text-rendering: optimizeLegibility;
}

header[role=banner],
main[role=main],
footer[role=contentinfo] {
  margin: 2rem auto;
}

@media screen {
  header[role=banner],
  main[role=main],
  footer[role=contentinfo] {
    max-width: 33rem;
  }
}

h1 {
  font-size: 200%;
  margin: 0;
}

header[role=banner] p {
  margin: 0;
}

footer[role=contentinfo] {
  font-size: 85%;
  margin-bottom: 5rem;
  text-align: right;
}

a[href] { text-decoration: none; }
a[href]:hover { text-decoration: none; }

@media print {
  .noprint {
    display: none;
  }
}

dfn {
  font-style: italic;
}
